name: Generate UML PUML and PNG

on:
  push:
    branches:
      - main
      - documentation
    paths:
      - 'backend/src/main/java/**'
      - 'doc/uml/*.puml'

permissions:
  contents: write

jobs:
  update-diagrams:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21' # Utilise la version 21 comme dans ton build.gradle

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz fonts-dejavu openjdk-17-jre-headless

      - name: Download PlantUML
        run: wget -O plantuml.jar https://github.com/plantuml/plantuml/releases/download/v1.2024.3/plantuml-1.2024.3.jar

      - name: Generate PUML from Java
        run: |
          cd backend
          chmod +x gradlew
          ./gradlew generatePlantUml

      - name: Commit and Push changes
        if: github.event_name == 'push'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add doc/uml/*.puml doc/uml/*.png
          if ! git diff --cached --quiet; then
            git commit -m "docs: auto-update diagrams [skip ci]"
            git push
          fi