name: Release PDF Documentation

on:
  release:
    types: [created]
  workflow_dispatch:  # Permet de tester manuellement

jobs:
  # Job 1: Génération des diagrammes UML nécessaires à la doc
  generate-uml:
    uses: ./.github/workflows/generator-puml.yml
    permissions:
      contents: write
    
  # Job 2: Conversion du Markdown en PDF
  build-pdf:
    needs: generate-uml
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Convert Markdown to PDF
        uses: baileyjm02/markdown-to-pdf@v1
        with:
          input_path: doc/doc_technique.md
          build_html: true

      - name: Upload PDF to Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: doc/doc_technique.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact (pour test manuel)
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: doc-technique-pdf
          path: doc/doc_technique.pdf